.loginBtn{
    background-color: rgba(218, 6, 17, 0.918);
    width: 75px;
    text-align: center;
}
.navAlign{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.emailInput::placeholder{
    color:white;
    opacity:1;
}
.homeWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
}
.para{
    font-size: 12px;
}
.formCredentials input{
 width:15rem;
 height: 2rem;
 background-color: transparent;  
}

.headText{
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.sectionPadd{
    padding: 5rem 0;
}



.trendingWrapper .trendingItem{
    display:inline-block;
    position: relative;
}
.trendingWrapper .trendingItem img {
    object-fit: cover;
    width:100%;
    height:150px;
    overflow: hidden;
}
.trendingWrapper .trendingItem img{
    transition: 0.4s all ease-in-out ;
}
.trendingWrapper .trendingItem:hover img{
 transform: scale(1.10);  
 
}
.trendingWrapper .trendingItem span{
    font-size:3rem;
    text-shadow:0 0 0.5rem white ;
    -webkit-text-stroke: 0.2rem white;
    color:white;
    font-weight: 700;
    position: absolute;
    bottom: 1rem;
    left:0rem;
    z-index: 1;

}
.trendingWrapper .trendingItem:hover span{
     transform: scale(1.05);  
}